body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(65, 65, 65);
}

.date-Container {
  transition: text-shadow 0.2s ease-in;
  text-shadow: none;
  text-align: center;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5em;
  color:cadetblue
}

.date-Container:hover {
  transition: text-shadow 0.2s ease-out;
  text-shadow: #fff 1px 0 10px;
}

.number-Container {
  transition: text-shadow 0.2s ease-in;
  text-shadow: none;
  text-align: center;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color:dimgray
}

.number-Container:hover {
  transition: text-shadow 0.2s ease-out;
  text-shadow: #fff 1px 0 10px;
}
